* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 16px;
}